# --- MPLAB X IDE & XC8 Compiler ---
Firmware/build/
Firmware/dist/
Firmware/nbproject/private/
Firmware/nbproject/Makefile-*
Firmware/nbproject/Package-*
Firmware/debug/
Firmware/errout
*.o
*.d
*.elf
*.hex
*.lst
*.pre
*.sym
*.cmf
*.cof
*.hxl

# --- Proteus ISIS & ARES ---
*.workspace
*.pdsbak
*.last
*.pwi
*.log
*.err
*.txt

# --- System & OS ---
Thumbs.db
.DS_Store
Desktop.ini
